[Unit]
Description=asnlal service
Wants=network-online.target
After=network-online.target
[Service]
User=asnlal
Group=asnlal
Type=notify
TimeoutSec=300
Restart=on-failure
StandardOutput=null
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/opt/ASNLAL/
ExecStart=/usr/bin/python3 asn.py
[Install]
WantedBy=multi-user.target